<div class="auth-form">
    <div class="head">
        <a mat-button mat-dialog-close (click)="close()" class="close"><svg width="25px" height="25px" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M19 5L4.99998 19M5.00001 5L19 19" stroke="#000000" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </g>
            </svg>
        </a>
    </div>
    <div class="header">
        <h2>Вхід в кабінет</h2>
    </div>
    <div *ngIf="logIs" class="form-body">

        <form [formGroup]="authForm" (ngSubmit)="login()">
            <input type="email" matInput formControlName="email" class="form-input" placeholder="*Email">

            <input type="password" formControlName="pass" class="form-input" placeholder="*Password">
            <div style="width: 100%; margin-top: 10px; margin-bottom: 10px; height: 40px; position: relative; display: flex; justify-content: center; align-items: center;"
                class="error">

                <h4 *ngIf="error" style="color: #EB5757;">Неправильний емейл або пароль</h4>

            </div>
            <input style="margin-top: 0;" type="submit"  value="Увійти" class="form-input form-btn">
        </form>
    </div>
    <div class="bottom">
        <div class="forget bottom-links">Забули пароль?</div>
        <div class="sign-up bottom-links" mat-button mat-dialog-close (click)="Reg()">Зареєструватись</div>
    </div>
</div>