.head{
    h4{
        font-size: 22px;
        font-weight: 700;
    }
}

input{
    border: 2px solid lightgray;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    height: 60px;
    padding-left: 20px;
}

.spacer{
    height: 30px;
    width: 100%;

}

.buttons{
    display: flex;
    justify-content: space-between ;
    margin: 20px auto;
    input{
        margin: 0;
        height: 60px;
        width: 45%;
        border: 1px solid #B5D8F7;
        font-size: 20px;
        font-weight: 800;
    }
    .add{
        background-color: white;
        transition: .3s;
    }
    .add:hover{
        background-color: #B5D8F7;
    }
    .save{
        background-color: #B5D8F7;
        transition: .3s;
    }
    .save:hover{
        background-color: white;
    }
}

.error{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.228);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .error-message{
        .top{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: end;
            padding: 15px;
            a{
                cursor: pointer;
            }
        }
        flex-wrap: wrap;
        width: 60%;
        height: 300px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        justify-content: center;

    }
}