<div class="container-fluid">
    <hr>
      <div class="d-flex align-items-start">
          <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div class="border-animate">
              <a  [routerLink]="[ 'category']" style="border-radius: 10px;" class=" admin-toggler btn  nav-link" routerLinkActive="router-active" type="btn">Category</a>
            </div>
            <div class="border-animate">            <a  [routerLink]="[ 'products']" style="border-radius: 10px;" class=" admin-toggler btn  nav-link" routerLinkActive="router-active" type="btn">Product</a></div>

            <div class="border-animate">
              <a  [routerLink]="[ 'discounts']"style="border-radius: 10px;"  class=" admin-toggler   btn  nav-link" routerLinkActive="router-active" type="btn">Discount</a></div>
          </div>
          <div class="tab-content w-100 mt-5 mb-5" id="v-pills-tabContent">
            <router-outlet></router-outlet>
          </div>
        </div>
  </div>